/helloworldlibrary/.vs
/helloworldlibrary/x64
/helloworldlibrary/helloworldlibrary/Debug
/helloworldlibrary/helloworldlibrary/x64
/helloworldlibrary/helloWorld/Debug
/helloworldlibrary/helloWorld/x64
/helloworldlibrary/HelloClient/Debug
/helloworldlibrary/HelloClient/x64
/helloworldlibrary/dLLTest/Debug
/helloworldlibrary/dLLTest/x64
